body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.header {
    height: 10vh;
    margin-top: 1rem;
}

.header>img {
    display: block;
    margin: auto;
    width: 500px;
    object-fit: cover;


}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 5vh;
    margin: 5px 0;


}

.navbar>ul {
    list-style: none;


}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main {
    height: 70vh;
    margin: 0 10px;
}

.firstSection {
    height: 40%;
}

.secondSection {
    display: flex;
    justify-content: space-between;
    height: 60%;
    gap: 10px;

}

article {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    height: 80%;
}

.second {
    background-color: rgb(243, 237, 237);
    color: black;
}

.footer {
    display: flex;
}

.footer img {
    width: 10%;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    color: white;
    align-items: center;
    height: 10vh;

}



@media (max-width: 600px) {
    .secondSection {
        display: flex;
        flex-wrap: wrap;
    }

    .main {
        height: 60%;
        margin: 10px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
}